#intro {
	background: #141615 url("../img/header-background.jpg") no-repeat top right;
	background-size: cover;
}

@media(max-width: 768px) {
	#intro {
		background-image: url("../img/the-head-2.png");
		background-size: 100%;
	}

}

.top-nav-collapse {
	background-color: #141615 !important;
}

.navbar:not(.top-nav-collapse) {
	background: transparent !important;
}

@media (max-width: 768px) {
	.navbar:not(.top-nav-collapse) {
		background: #141615 !important;
	}
}

#intro .h6 {
	font-weight: 300;
	line-height: 1.7;
}

@media (max-width: 450px) {
	.margins {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

#pricing .lead {
	opacity: 0.7;
}

#pricing .card-image {
	background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
	font-size: 1.1em;
}

@media (min-width: 768px) {
	#topmenu-nav {
		margin-left: 40px;
	}
}

#time {
	text-align: center;
	margin: 0;
	padding: 50px;
}
#time {
	overflow-x: hidden;
}

#time .clock {
	max-width: 650px;
	margin: 2em auto;
}

@media(max-width: 768px) {
	#time .clock {
		max-width: 400px;
	}
}
@media(max-width: 500px) {
	#time {
		display:none;
	}
}
